.button {
  margin-top: 25px;
}

.get_notified {
  position: relative;
  width: 30%;
  height: 40px;
  border-radius: 40px;
  outline: 0;
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.4);
  background-color: var(--primary-color);
  border: none;
  cursor: pointer;
  transition: 0.2s;
}

.get_notified:active {
  background-color: var(--primary-light-color);
}

.button_text {
  font-size: 20px;
  font-weight: 500;
  color: #fff;
  transition: all 0.2s;
}

.loading .button_text {
  visibility: hidden;
  opacity: 0;
}

.loading {
  background-color: var(--secondary-color);
}

.loading::before {
  content: "Searching...";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  font-size: 20px;
  color: #fff;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-right: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 2px solid rgba(255, 255, 255, 0.4);
  transition: 0.5s;
}

.loading::after {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin-left: 178px;
  margin-top: 8px;
  border: 4px solid transparent;
  border-top-color: #fff;
  border-radius: 50%;
  animation: button-spin 1s ease infinite;
  transition: 0.35s;
}

@keyframes button-spin {
  from {
    transform: rotate(0turn);
  }

  to {
    transform: rotate(1turn);
  }
}

.loading:hover::after {
  content: "X";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 0px;
  height: 0px;
  border: none;
  animation: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 189px;
  margin-top: 20px;
  font-size: 25px;
  font-weight: 700;
  color: #fff;
}
