.snackbar {
  visibility: hidden;
  position: fixed;
  bottom: 8%;
  right: 42%;
  margin-right: 50px;
  height: 50px;
  width: 14%;
  background-color: #333;
  font-size: 16px;
  color: #fff;
  box-shadow: var(--input-boxShadow);
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}

.snackbar p {
  font-size: 10px;
}

.snackbar.show {
  visibility: visible; /* Show the snackbar */
  /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
  However, delay the fade out process for 2.5 seconds */
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 8%;
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 8%;
    opacity: 1;
  }
}

@-webkit-keyframes fadeout {
  from {
    bottom: 8%;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}

@keyframes fadeout {
  from {
    bottom: 8%;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}
