* { padding: 0; margin: 0; }

.info-card{
  background-color: #fff;
  margin: 13px;
  border-radius: 10px;
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.3);
}

.info-card h5{
  margin-left: 10px;
  padding-top: 10px;
  color: #283893;
}

.info-card p{
  margin-left: 10px;
  padding-top: 3px;
  color: #283893;
  font-size: 13px;
  width: 70%;
}

.info-card .main-info{
  display: flex;
  margin: 10px;
  margin-left: 10px;
  margin-right: 70px;
  padding-top: 3px;
  justify-content: space-between;
}

.info-card .main-info h6{
  color: #283893;
}

.info-card .main-info h6:nth-child(2){
  background-color: lightgreen;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 10px;
}

.info-card h6:nth-child(4){
  padding-bottom: 10px;
  color: #cd1f43;
  margin: 10px;
  margin-left: 10px;
  margin-right: 70px;
}




