.slotCard {
  background-color: #fff;
  width: 100%;
  height: auto;
  border-radius: 10px;
  box-shadow: var(--slotCards-boxShadow);
  padding: 15px 20px;
  margin-bottom: 10px;
}

.center-name {
  color: var(--primary-color);
  font-size: 15px;
  font-weight: 700;
  margin-bottom: 4px;
  word-break: keep-all;
}

.center-location {
  color: #283893;
  font-size: 15px;
  width: 100%;
  font-weight: 400;
  margin-bottom: 4px;
  word-break: keep-all;
}

.slotCard .vaccine-category {
  display: flex;
  justify-content: space-between;
  width: calc(50% + 20px);
  margin-bottom: 10px;
}

.slotCard .vaccine-category p {
  color: #283893;
  font-size: 15px;
}

.slots-table-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}

.slots-table-set {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 5px;
}

.slots-table-set-empty {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 5px;
}

.slots {
  background-color: var(--slotsAvailable-color);
  padding: 2px 10px;
  border-radius: 7px;
}

.date {
  color: var(--secondary-color);
  font-size: 15px;
}

.slots {
  background-color: var(--slotsAvailable-color);
  padding: 3px 10px;
  border-radius: 7px;
}

.first-col {
  margin-right: 10px;
}

.second-col {
  margin-left: 10px;
}
