.slotCard {
}

.center-name {
	color: var(--primary-color);
	font-size: 15px;
	font-weight: 700;
	text-transform: uppercase;
	word-break: keep-all;
	margin-bottom: 4px;
}

.center-location {
	color: var(--primary-color);
	font-size: 15px;
	width: 100%;
	font-weight: 400;
	text-transform: capitalize;
	word-break: keep-all;
	margin-bottom: 10px;
}

.center-vaccineDetails {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-column-gap: 30px;
	align-items: center;
	margin-bottom: 5px;
}

.center-vaccineDetails > div {
	color: var(--primary-color);
	font-size: 15px;
	text-align: left;
}

.center-vaccineDetails .date {
	color: var(--secondary-color);
	font-size: 15px;
	align-self: center;
}

.center-vaccineDetails .slots {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: var(--slotsAvailable-color);
	padding: 5px 10px;
	border-radius: 20px;
	color: #000;
	flex-wrap: wrap;
}

.center-vaccineDetails .slots-value {
	background-color: #fff;
	color: #000;
	border-radius: 8px;
	padding: 5px 12px;
	font-size: 12px;
	height: 20px;
	width: 20px;
	font-size: 12px;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
}

.slotCard .vaccine-category {
	color: var(--primary-color);
	font-size: 15px;
}

@media (max-width: 768px) {
	.center-vaccineDetails {
		grid-column-gap: 10px;
		word-break: break-word;
	}

	.center-vaccineDetails {
		font-size: 12px;
		word-wrap: break-word;
	}
	.center-vaccineDetails .slots {
		font-size: 13px;
		word-wrap: break-word;
		padding: 2px 10px;
	}
	.center-vaccineDetails .slots-value {
		word-break: keep-all;
	}

	.center-vaccineDetails > div {
		font-size: 14px;
	}

	.center-vaccineDetails .date {
		font-size: 14px;
	}
}
