.toggle {
  font-size: 0;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: stretch;
  height: 50px;
  width: 80%;
  margin-bottom: 25px;
  box-shadow: var(--input-boxShadow);
  border-radius: 40px;
  border-top: solid 1px #ddd;
}

.toggle input {
  width: 0;
  height: 0;
  position: absolute;
}

.toggle input + label {
  margin: 0;
  padding: 0.75rem 2rem;
  box-sizing: border-box;
  position: relative;
  display: inline-block;

  background-color: #fff;
  font-size: 1rem;
  line-height: 140%;
  font-weight: 600;
  text-align: center;

  /* transition: border-color 0.15s ease-out, color 0.25s ease-out,
    background-color 0.15s ease-out, box-shadow 0.15s ease-out; */
  /* ADD THESE PROPERTIES TO SWITCH FROM AUTO WIDTH TO FULL WIDTH */
  flex: 0 0 50%;
  display: flex;
  justify-content: center;
  align-items: center;

  /* ----- */
}
.toggle input + label:first-of-type {
  border-radius: 25px 0 0 25px;
  /* box-shadow: var(--input-boxShadow); */
  border-right: none;
}
.toggle input + label:last-of-type {
  border-radius: 0 25px 25px 0;
  border-left: none;
}

.toggle input:checked + label {
  background-color: var(--primary-color);
  color: #fff;
  border-radius: 25px;
  /* box-shadow: 0 0 10px rgba(102, 179, 251, 0.5);
  border-color: #4b9dea; */
  z-index: 1;
  transition: all 0.3s ease-in;
}
