.toggle {
	font-size: 0;
	display: flex;
	flex-flow: row nowrap;
	justify-content: flex-start;
	align-items: stretch;
	height: var(--input-height);
	width: var(--input-width);
	margin-bottom: var(--input-marginBottom);
	box-shadow: var(--input-boxShadow);
	border-radius: 40px;
	background-color: #fff;
	border-top: var(--border-top);
	cursor: pointer;
}

.toggle input {
	width: 0;
	height: 0;
	position: absolute;
}

.toggle input + label {
	color: var(--primary-color);
	font-size: var(--input-fontSize);
	white-space: nowrap;
	margin: 0;
	padding: 0.75rem 2rem;
	box-sizing: border-box;
	position: relative;
	display: inline-block;
	background-color: #fff;
	font-weight: 600;
	text-align: center;

	flex: 0 0 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}
.toggle input + label:first-of-type {
	border-radius: 25px 0 0 25px;
	border-right: none;
}
.toggle input + label:last-of-type {
	border-radius: 0 25px 25px 0;
	border-left: none;
}

.toggle input:checked + label {
	background-color: var(--primary-color);
	color: #fff;
	border-radius: 25px;
	z-index: 1;
	animation-duration: 0.5s;
}

.toggle #pincode:checked + label {
	animation-name: slideLeft;
}
.toggle #district:checked + label {
	animation-name: slideRight;
}

@keyframes slideRight {
	0% {
		transform: translateX(-100%);
	}
	100% {
		transform: translateX(0);
	}
}
@keyframes slideLeft {
	0% {
		transform: translateX(100%);
	}
	100% {
		transform: translateX(0);
	}
}

@media (max-width: 768px) {
	.toggle {
		width: 100%;
		height: var(--input-height-responsive);
	}
	.toggle input + label {
		font-size: var(--input-fontSize-responsive);
	}
}
