.App {
}

.brandLogo img {
  width: 200px;
  height: 73px;
}

.slotsContainer {
  background-color: var(--tertiary-color);
  height: 500px;
  width: 25%;
  border-radius: 20px;
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.4);
}

.slotsContainer h4 {
  color: var(--primary-color);
  padding-top: 8px;
  margin-left: 13px;
  margin-bottom: 0;
  font-size: 23px;
  font-weight: 700;
}
