.App {
  height: 100vh;
  width: 100vw;
}

.contentContainers {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: calc(100% - var(--footer-height));
  padding: 60px 100px;
}

.leftContainer {
  border: 1px solid black;
  width: 60%;
}

.rightContainer {
  border: 1px solid blue;
  width: 40%;
}

.brandLogo img {
  width: 200px;
  height: 73px;
}

.slotsContaienr {
  background-color: var(--tertiary-color);

  border-radius: 20px;
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.4);
}

.slotsContaienr h4 {
  color: var(--primary-color);
  padding-top: 8px;
  margin-left: 13px;
  margin-bottom: 0;
  font-size: 23px;
  font-weight: 700;
}
