.App {
  height: 100vh;
  width: 100%;
}

.contentContainers {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: calc(100% - var(--footer-height));
  padding: 40px 80px;
}

.leftContainer {
  border: 1px solid black;
  width: 60%;
}

.rightContainer {
  border: 1px solid blue;
  width: 40%;
}

.brandLogo {
  width: 200px;
  height: 73px;
  margin-bottom: 35px;
}

.mainHead {
  font-size: 52px;
  color: var(--secondary-color);
  font-weight: bold;
  font-weight: 800;
  width: 100%;
  word-break: keep-all;
  margin-bottom: 40px;
}

.inputContainer {
  position: relative;
  width: 80%;
  height: 50px;
  border-radius: 40px;
  display: flex;
  align-items: center;
  box-shadow: var(--input-boxShadow);
  margin-bottom: 25px;
  padding: 0 25px;
}

.inputContainer input {
  font-size: 20px;
  border: none;
  outline: none;
  height: 100%;
  width: 100%;
}

.inputContainer .searchIcon {
  position: absolute;
  right: 25px;
}

.slotsContainer {
  background-color: var(--tertiary-color);
  height: 80%;
  border-radius: 13px;
  padding: 10px 15px 15px;
  box-shadow: var(--slotCards-boxShadow);
  /* overflow-y: scroll; */
}

.slotsContainer h4 {
  color: var(--secondary-color);
  font-size: 23px;
  font-weight: 700;
  margin-bottom: 10px;
}

.slotsContainerScrollbar {
  display: block;
  overflow-y: scroll;
  height: calc(100% - 35px);
}

.slotsContainerScrollbar::-webkit-scrollbar {
  background: #fff;
  border-radius: 8px;
  margin-left: 20px;
  box-shadow: var(--input-boxShadow);
}

.slotsContainerScrollbar::-webkit-scrollbar-thumb {
  background: var(--secondary-color);
  border-radius: 8px;
  box-shadow: var(--input-boxShadow);
}

/* .Rounded_Rectangle_2_copy_4 {
  border-radius: 8px;
  background-color: rgb(255, 255, 255);
  box-shadow: 3.878px 6.997px 7.2px 0.8px rgba(4, 4, 4, 0.1);
  position: absolute;
  left: 1746px;
  top: 118px;
  width: 18px;
  height: 744px;
  z-index: 73;
} */
/* .Rounded_Rectangle_2_copy_5 {
  border-radius: 8px;
  background-color: rgb(205, 31, 67);
  box-shadow: 3.878px 6.997px 7.2px 0.8px rgba(4, 4, 4, 0.1);
  position: absolute;
  left: 1746px;
  top: 118px;
  width: 18px;
  height: 246px;
  z-index: 74;
} */
