:root {
	--primary-color: #283893;
	--secondary-color: #cd1f43;
	--tertiary-color: #d0fbf8;

	--slotsAvailable-color: #00ff33;
	--primary-light-color: #3e447e;

	--footer-height: 4vh;

	--input-borderRadius: 40px;
	--input-fontSize: 20px;
	--input-height: 50px;
	--input-marginBottom: 25px;
	--input-width: 80%;

	--input-fontSize-responsive: 14px;
	--input-height-responsive: 45px;
	--input-borderRadius-responsive: 30px;

	--border-top: 1px solid #ddd;
	--input-boxShadow: 3.878px 6.997px 7.2px 0.8px rgb(4 4 4 / 10%);
	--slotCards-boxShadow: 2.424px 4.373px 4.5px 0.5px rgba(4, 4, 4, 0.1);
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;
	overflow-x: hidden;
	outline: none;
}

body {
	margin: 0;
	font-family: 'Helvetica Now Display', 'Segoe UI';
	/* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif; */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}

li {
	display: list-item;
	list-style-position: inside;
}

/* Scrollbar CSS  */
::-webkit-scrollbar {
	background-color: #deffff;
	box-shadow: var(--input-boxShadow);
	width: 10px;
}
::-webkit-scrollbar-thumb {
	background: var(--secondary-color);
	border-radius: 8px;
	box-shadow: var(--input-boxShadow);
}

@media (max-width: 768px) {
	* {
		overflow-y: auto;
	}

	::-webkit-scrollbar {
		width: 3px;
	}
}
