/* Reset Select */
#select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  box-shadow: none;
  border: 0 !important;
  background: #fff;
  background-image: none;
  border-radius: 40px;
  margin: 3px 5px 3px 5px;
}
/* Remove IE arrow */
#select::-ms-expand {
  display: none;
}
/* Custom Select */
.selectBoxBase {
  position: relative;
  display: flex;
  width: 20em;
  height: 3em;
  line-height: 3;
  overflow: hidden;
  border-radius: 0.25em;
}
#select {
  flex: 1;
  padding: 0 0.5em;
  padding-left: 25px;
  color: #000;
  font-size: 15px;
  font-weight: 300;
  cursor: pointer;
  box-shadow: var(--input-boxShadow);
}

/* Arrow */
.selectBoxBase::after {
  content: "\25BC";
  position: absolute;
  top: 0;
  right: 10px;
  padding: 0 1em;
  height: 15px;
  width: 5px;
  background: #fff;
  cursor: pointer;
  pointer-events: none;
  border-radius: 0 25px 25px 0;
  margin: 3px 5px 3px 5px;
  -webkit-transition: 0.25s all ease;
  -o-transition: 0.25s all ease;
  transition: 0.25s all ease;
}
/* Transition */
.selectBoxBase:hover::after {
  color: var(--secondary-color);
}
